{% extends 'base.html.twig' %}

{% block title %}{% block page_title %}Calorie Tracker{% endblock %}{% endblock %}

{% block body %}
    <main>
        {% block content %}{% endblock %}
    </main>
{% endblock %}
